torch==2.4.0
scikit-learn==1.5.1
pandas==2.2.2
matplotlib==3.9.1
seaborn==0.13.2
numpy==2.0.1
ipykernel==6.29.5



pytz==2024.1
mpmath==1.3.0
tzdata==2024.1
typing-extensions==4.12.2
threadpoolctl==3.5.0
sympy==1.13.1
six==1.16.0
setuptools==71.1.0
pyparsing==3.1.2
pillow==10.4.0
packaging==24.1
networkx==3.3
MarkupSafe==2.1.5
kiwisolver==1.4.5
joblib==1.4.2
fsspec==2024.6.1
fonttools==4.53.1
filelock==3.15.4
cycler==0.12.1
scipy==1.14.0
python-dateutil==2.9.0.post0
jinja2==3.1.4
contourpy==1.2.1


wcwidth==0.2.13
pure-eval==0.2.3
ptyprocess==0.7.0
traitlets==5.14.3
tornado==6.4.1
pyzmq==26.0.3
pygments==2.18.0
psutil==6.0.0
prompt-toolkit==3.0.47
platformdirs==4.2.2
pexpect==4.9.0
parso==0.8.4
nest-asyncio==1.6.0
executing==2.0.1
decorator==5.1.1
debugpy==1.8.2
asttokens==2.4.1
appnope==0.1.4
stack-data==0.6.3
matplotlib-inline==0.1.7
jupyter-core==5.7.2
jedi==0.19.1
comm==0.2.2
jupyter-client==8.6.2
ipython==8.26.0
